.App {
  font-family: Arial, Helvetica, sans-serif;
}

.Top-section{
  background-color: rgb(0, 106, 133);
  padding-bottom: 5px;
  text-align: center;
  padding-top: 1px;
}

.heading{
  color: #ffff;
  font-size: 43px;
  font-weight: bold;
  padding-top: 25px;
}

.App-logo {
  height: 200px;
  margin-right: 000px;
  margin-left: 30px;
  margin-top: -70px;
  margin-bottom: -115px;
  align-items: flex-start;
  display: flex;
}

.Bottom-section {
  background-color: #e6e6e6;
  min-height: 88.9vh;
  display: flex;
  color: rgb(0, 106, 133);
}